/*
@font-face {
    font-family: Gotham;
    src: url('fonts/gotham.ttf');
}

h2 {
	font-family: Gotham !important;
}
*/

.emailHeads{
	font-size: 1.5em;
	color: #fff !important;
	opacity: 1 !important;
	position: absolute;
/* 	display: inline-block; */
	float:left;
	margin-top: 5px;
}

.gene{
	position: absolute;
	margin-left: 15%;
	font-size: 1em;
	color: #000 !important;
	background: rgba(255, 255, 255, 0.72);
    opacity: 0.7;
    border-radius: 5px;
    border-radius: 25px;
    padding: 10px;
    width: 85% !important;
}

.generatedEmail{
	position: absolute;
	margin-left: -50%;
/* 	background: #252525; */
	width: 200%;
    border-radius: 25px;
/*     border: 2px solid #73AD21; */
/*     padding: 20px;  */
/*     opacity: 0.4; */
	background: transparent;
}

.resumeText{
			width: 200%;
			margin-left: -50%;
			color: #aaa;
			font-size: 1.5em;
			margin-bottom: 1.75em;
}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #666;
		font-family:  "Raleway", Arial, Helvetica, sans-serif !important;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}
* {
  margin: 0;
  padding: 0;
}

#banner {
	height: 2000px !important;
}

body {
  background: #2E3740;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}

/*
h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}
*/

a {
  color: #435160;
  text-decoration: none;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-top: -160px;
  margin-left: -175px;
}

input[type="text"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #ffffff !important;
  font-size: 16px;
  margin-bottom: 15px;
}



textarea {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #ffffff !important;
  font-size: 16px;
  margin-bottom: 15px;
}

input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}

#agree:checked ~ label[for=agree] {
  background: #435160;
}

input[type="submit"] {
	margin-top: 30px;
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #16aa56;
  animation-name: shake;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

.agree {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

